ul {
    list-style: none;
    background-color:deepskyblue;
}
a {
    padding: 20px 0;
    color: white;
    text-decoration: none;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid #dadada;
    text-align: center;
}

a:hover{
    background-color:royalblue;
}

a:last-child  {
    border-bottom: none;
}