body {
    margin: 0;
    padding: 0;
  }

  div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body > div:first-child {
    width: 100%;
    height: 120px;
    background-color: #ffd701;
    border: 5px solid blue;
  }

  body > div:nth-child(2) {
    width: 100%;
    height: 180px;
    background-color: #00c957;
    border: 5px solid #147d17;
    font-size: 0;
    overflow: auto;
  }

  body > div:nth-child(2) > div {
    height: 100%;
    border: 4px solid black;
  }

  body > div:nth-child(2) > div:first-child {
    width: 25%;
    background-color: #7ed2ff;
    float: left;
  }

  body > div:nth-child(2) > div:last-child {
    width: 75%;
    background-color: #00c957;
    float: right;
  }

  .lastdiv {
    clear: both;
    width: 100%;
    height: 120px;
    background-color: #630c8c;
    border: 5px solid red;
  }